body, html {

  height: 700px;

  margin: 0;

  font: 400 15px/1.8 "Lato", sans-serif;

  color: #777;
   padding: 10px;
       background-image: url("https://cdn.pixabay.com/photo/2017/01/24/15/24/work-2005640_1280.jpg");
 background-attachment: fixed;

  background-position: center;

  background-repeat: no-repeat;

background-size: contain;

}
 .navigation{
 position: -webkit-sticky;
  position: sticky;
  top: 0;
	                              height:50px;
	                              background:lightgreen;
     z-index: 99999999;
			     	     
                                }
.navigation ul {

                                 list-style-type: none;
                                 margin: 0;
                                 padding: 0;
                                  overflow: hidden;
                                  background-color: #676767;

                                    }
                                    
.navigation li {
                                  float: left;
                                    }
		    .navigation li a {
				    display: block;
				    color: white;
				    text-align: center;
				    padding: 16px 16px;
				    text-decoration: none;
				     }


.contact{
 margin: auto;
    width: 60%;
    padding: 10px;



}
h2{
font: 20px "Lato", sans-serif;

  color: #111;
}



/*Use a media query to add a break point at 800px:*/
@media (max-width:800px) {
.publishing ul{
 font-size: 100%;
} 
} 